<MudCard>
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar Style="height:70px; width:70px; font-size:2rem;" Variant="Variant.Outlined"
            Color="Color.Secondary">@SusbscriptionId.ToString()</MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
           
        </CardHeaderContent>
        <CardHeaderActions>
            <div class="pt-5"> 
                 <MudChip Color="Color.Success" >@Status</MudChip>
            </div>
        </CardHeaderActions>
    </MudCardHeader>
    
    <MudCardContent>
            <MudText Typo="Typo.caption">Plan: @PlanTitle</MudText>
            <br/>
            <MudText Typo="Typo.caption">Remaining Days: @RemainingDays </MudText>
            
    </MudCardContent>
    <MudCardActions>

<MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.Settings" Color="Color.Primary">Manage</MudButton>
    </MudCardActions>
</MudCard>

@code {
[Parameter]public string PlanSlogan { get; set; }
[Parameter]public string PlanTitle { get; set; }
[Parameter]public string RemainingDays { get; set; }
[Parameter]public int SusbscriptionId { get; set; }
[Parameter]public string Status { get; set; }

}
